.dialog-changelog {
  min-height: 0;
}

.dialog-changelog-content {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--border-weak-base) transparent;
}

.dialog-changelog-content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.dialog-changelog-content::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

.dialog-changelog-content::-webkit-scrollbar-thumb {
  background: var(--border-weak-base);
  border-radius: 5px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

.dialog-changelog-content::-webkit-scrollbar-thumb:hover {
  background: var(--border-weak-base);
}

.dialog-changelog-version {
  font-size: 20px;
  font-weight: 600;
}

.dialog-changelog-release {
  border-bottom: 1px solid var(--border-weak-base);
  margin-top: 64px;
  padding-bottom: 24px;
}

.dialog-changelog-release:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

.dialog-changelog-markdown h2 {
  border-bottom: 1px solid var(--border-weak-base);
  padding-bottom: 4px;
  margin: 32px 0 12px 0;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.dialog-changelog-markdown h2:first-child {
  margin-top: 16px;
}

.dialog-changelog-markdown {
  margin-top: 8px;
}
